# Zephyr / west
build/
.west/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Zephyr files
zephyr/.config
zephyr/include/generated/
zephyr/zephyr.dts
zephyr/zephyr.dts.pre

*.elf
*.hex
*.bin
*.map
*.o
.vscode/
.settings/
lidar_robot_ws/build/
lidar_robot_ws/install/
lidar_robot_ws/log/


build/
install/
log/
firmware_backup/
