/{

    chosen {
        zephyr,micro-ros-uart = &usart2;
    };

    aliases {
        pwm-left-in1 = &left_motor_pwm_in1;
        pwm-left-in2 = &left_motor_pwm_in2;
        pwm-right-in1 = &right_motor_pwm_in1;
        pwm-right-in2 = &right_motor_pwm_in2;
        encoder-left = &qdec_l;
        encoder-right = &qdec_r;
        imu = &bno055;

    };



    gpio_keys {
        compatible = "gpio-keys";
        button1: button1 {
            gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
            label = "Button 1";
            // linux,code = <28>;
        };
    };

    pwm_motors {
        
        compatible = "pwm-leds";
    
    left_motor_pwm_in1: left_in1 {
        pwms = <&pwm2 1 100000 PWM_POLARITY_NORMAL>;
    };
        
    left_motor_pwm_in2: left_in2 {
        pwms = <&pwm2 2 100000 PWM_POLARITY_NORMAL>;
    };
    
    right_motor_pwm_in1: right_in1 {
        pwms = <&pwm2 3 100000 PWM_POLARITY_NORMAL>;
    };
    
    right_motor_pwm_in2: right_in2 {
        pwms = <&pwm2 4 100000 PWM_POLARITY_NORMAL>;
    };
};
};

&usart2 {
    status = "okay";
    current-speed = <115200>;
};

&timers3 {
    status = "okay";

    pwm {
        status = "disabled";
    };

    qdec_l: encoder_left {
        compatible = "st,stm32-qdec";
        status = "okay";
        pinctrl-0 = <&tim3_ch1_pa6 &tim3_ch2_pa7>;
        pinctrl-names = "default";
        st,counts-per-revolution = <660>;
        label = "Encoder do silnik lewy";
    };
};
&timers4 {
    status = "okay";

    pwm {
        status = "disabled";
    };
    qdec_r: encoder_right {
        compatible = "st,stm32-qdec";
        status = "okay";
        pinctrl-0 = <&tim4_ch1_pb6 &tim4_ch2_pb7>;
        pinctrl-names = "default";
        st,counts-per-revolution = <660>;
        label = "Encoder do silnik prawy";
    };
};


&pwm2 {
    status = "okay";
    pinctrl-0 = <&tim2_ch1_pa0 &tim2_ch2_pa1 &tim2_ch3_pb10 &tim2_ch4_pb11>;
    pinctrl-names = "default";
};

&i2c1 {

    status = "okay";

    bno055: bno055@28 {
        compatible = "i2c-device";
        status = "okay";
        reg = <0x29>;
    };

};

&spi1 {
    status = "disabled";
};

    &pinctrl {
   
    tim3_ch1_pa6: tim3_ch1_pa6 {
        bias-pull-up;
    };
    tim3_ch2_pa7: tim3_ch2_pa7 {
        bias-pull-up;
    };


    tim4_ch1_pb6: tim4_ch1_pb6 {
        bias-pull-up;
    };
    tim4_ch2_pb7: tim4_ch2_pb7 {
        bias-pull-up;
    };
};